PORT=3000

# Cấu hình kết nối MongoDB (thay đổi <user> và <password> theo cài đặt của bạn)
# <user>: 
# <password>: 
MONGO_URI=mongodb://<user>:<password>@127.0.0.1:27018/form_management?authSource=admin

SESSION_SECRET=your_super_secret_key_here_change_me_to_something_long_and_random
